<header>
    <a href="/" class="link_logo">
        <img src="/images/logo.png" class="logo_marca">
    </a>
    <a href="/usuario/login" class="boton_ref">
        <button class="boton_login">Login</button>
    </a>
</header>