<nav class="main_navbar">
    <ul class="left_navbar">
        <li><a href="/">
                <img src="/images/logo.png" class="logo_marca">
            </a></li>
        <li><a href="">PELICULAS <i id="arrow_down" class="fa-solid fa-arrow-down"></a></i></li>
        <a href="/usuario/profile"><img class="imagen_usuario" src="<%= user.avatar_id %>" alt=""></a>
    </ul>
</nav>