<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <h1>deseas borrar la pelicula?</h1>
        <form action="/peliculas/borrar/id/<%=pelicula.id%>" method="POST">
            <button type="SUBMIT">SI</button>
        </form>
        <a href="/peliculas/listado/id/<%=pelicula.id%>">
            <button>NO</button>
        </a>
    </main>
</body>

</html>