<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creacion de peli</title>
</head>

<body>
    <h1>CREAR PELICULA</h1>
    <form action='/peliculas/crearPelicula' enctype="multipart/form-data" method="POST">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="nombre">
        </div>
        <label for="descripcion">Descripcion</label>
        <div>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label for="rating">Rating</label>
            <input type="number" name="rating" placeholder="rating">
        </div>
        <div>
            <label for="image">Ingrese una portada para su pelicula</label>
            <input type="file" name="image">
        </div>
        Genero
        <select name="genero" id="">
            <option value="1">terror</option>
            <option value="2">accion</option>
            <option value="3">fantasia</option>
        </select>
        <br>
        <button class="submit" type="submit">Crear</button>
        <button> <a href="/peliculas/listado">VOLVER</a></button>
    </form>
</body>

</html>