<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
       titulo: <%= pelicula.nombre %>
    </h1>
    <h4>
        rating: <%= pelicula.rating %>
    </h4>
    <p>
       descripcion: <%= pelicula.description %>
    </p>
    <p>
       genero: <%= pelicula.genero.tipo %>
    </p>
</body>

<button> <a href="/peliculas/listado">VOLVER</a></button>

</html>