<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/css/index.css' />
  <link rel='stylesheet' href='/css/header.css' />
  <meta name="viewport" ,
    content="width=device-width, user-scalable=0, maximum-scale=1.0,initial-scale=1.0, user-scalable=0">
  <title>MAIN</title>
</head>



<body>
  <%- include("./partials/header.ejs") %>

    <div class="cajon_principal">
      <h1>Del cine a tu casa!</h1>
      <a href="/usuario/registro" class="registro_boton">
        <div class="resto_cuerpo">
          <h2>Aun no tenes cuenta? Registrate, es gratis!</h2>
        </div>
      </a>
    </div>
</body>

</html>