<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/css/index.css' />
  <meta name="viewport" ,
    content="width=device-width, user-scalable=0, maximum-scale=1.0,initial-scale=1.0, user-scalable=0">
  <title>MAIN</title>
</head>



<body>
  <!-- header -->
  <header>
    <img src="/images/logo.png" class="logo_marca">
    <a href="/usuario/login" class="boton_ref">
      <button class="boton_login">Login</button>
    </a>
  </header>

  <h1>Del cine a tu casa!</h1>

  <a href="/usuario/registro" class="registro_boton">
    <div class="resto_cuerpo">
      <h2>Aun no tenes cuenta? Registrate, es gratis!</h2>
    </div>
  </a>
</body>

</html>