<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>estas logueado!, por ende te estoy redirigiendo</h3>
    <h3>a la pagina principal que van a ver los usuarios logueados :) </h3>
    <h3>por ahora esta vacia, vuelvas prontos por favors</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h5>te dejo el link al listado de pelis para que chusmees :) </h5>
    <a href="/peliculas/listado">vamo noma</a>

    <h6>si queres desloguear, frena el proyecto y volvelo a iniciar (debo el boton de logout) </h6>
</body>
</html>