<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/80b891709d.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/css/listado.css' />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
</head>

<body>
    <h1>LISTADO DE PELICULAS</h1>
    <div class="filtro">
        <select id="selectGenero" onchange="filtrarPorGenero()">
            <option value="">Selecciona un género</option>
            <option value="0">Todos los generos</option>
            <option value="2">Acción</option>
            <option value="1">Terror</option>
            <option value="3">Fantasía</option>
        </select>
    </div>
    <div class="listado_pelis">
        <ul class="items_listado">
            <% peliculas.forEach(peliculas=> { %>
                <li class="items_lista">
                    <a href="/peliculas/listado/id/<%= peliculas.id %>">
                        <%= peliculas.nombre %> - <%= peliculas.genero.tipo %>
                    </a>
                </li>
                <% }) %>
        </ul>
    </div>
    <div class="botones">
        <a href="/peliculas/crear">
            <button>Crear</button>
        </a>
        <a href="/">
            <button>Home</button>
        </a>
    </div>
</body>

<script>
    function filtrarPorGenero() {
        const selectElement = document.getElementById('selectGenero');
        const generoSeleccionado = selectElement.value;
        if (generoSeleccionado !== '0') {
            window.location.href = `/peliculas/listado/genero/${generoSeleccionado}`;
        } else {
            window.location.href = '/peliculas/listado';
        }
    }
</script>

</html>