<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/80b891709d.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/css/listado.css' />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
</head>

<body>
    <h1>LISTADO DE PELICULAS</h1>
    <div class="listado_pelis">
        <ul class="items_listado">
            <% peliculas.forEach(peliculas=> { %>
                <li class="items_lista">
                    <a href="/peliculas/listado/id/<%= peliculas.id %>">
                        <%= peliculas.nombre %> - <%= peliculas.genero.tipo %>
                    </a>
                </li>
                <% }) %>
        </ul>
    </div>
    <div class="botones">
        <a href="/peliculas/crear">
            <button>Crear</button>
        </a>
        <br>
        <a href="/">
            <button>Home</button>
        </a>
    </div>
</body>

</html>