* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(../images/background\ index\ image.jpg);
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_container {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente oscuro */
    padding: 2%;
    color: #fff; /* Color de texto blanco */
    width: 50%; /* Ancho del contenedor */
}

.formulario_editar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2em;
}

.div_nombre,
.div_descripcion,
.div_url,
.rating_genero,
.seleccion_genero {
    margin-top: 1em;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #888; /* Borde del campo de entrada */
    border-radius: 4px;
    background-color: #333; /* Fondo oscuro para campos de entrada */
    color: #fff; /* Color de texto blanco */
}

button {
    cursor: pointer;
    border: none;
    transition: all 200ms;
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 5px;
}

.submit {
    background-color: #4b99b3; /* Color de botón */
    margin-top: 1em;
}

.button_back {
    background-color: #af6142; /* Color de botón secundario */
}

.button_back a {
    text-decoration: none;
    color: #000; /* Color de texto del enlace */
}

.submit:hover,
.button_back:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.8); /* Sombra al hacer hover */
}

.ingresa_imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}