* {
    font-family: "Roboto";
    box-sizing: border-box;
}

header {
    z-index: 1;
}

.link_logo {
    z-index: 1;
}

.main_navbar {
    position: absolute;
    width: 100%;
    z-index: 5;
    left: 0em;
    top: 0em;
    margin-top: -1em;
}

.main_navbar ul {
    padding: 1em;
    list-style-type: none;
    display: flex;
    color: white;
    background-color: #11111144;
}

.main_navbar li {
    text-align: center;
    margin-left: 5em;
    text-decoration: none;

}

img.logo_marca {
    max-width: 60px;
    margin-left: -5em;
}

html {
    left: 0em;
    max-width: 1920px;
    background-color: #0f0f0f;
    background-size: fill;
    background-repeat: repeat-y;
}

main {
    max-width: 1920px;
    margin-top: 20em;
    display: block;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
}

.cajon_peliculas {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    padding-top: 1em;
    margin-top: 45em;
    border-radius: 10px;
}

.pelicula {
    margin: 8px;
    max-height: 300px;
    margin-bottom: 6em;
    border-radius: 1%;
    cursor: pointer;
}

.pelicula img {
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
    cursor: pointer;
    width: 212px;
    height: 332px;
    object-fit: fill;
    transition: all 300ms;
}

.pelicula img:hover {
    transform: scale(1.1);
    /* filter: blur(3px); */
}

.nombre_pelicula {
    margin-top: 1%;
    color: white;
    cursor: auto;
    text-align: center;
}

.video_home {
    max-width: 100%;
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: -3.5em;
    left: 0em;
    margin-top: -8em;
    /*     margin-top: -42em;
 */
    z-index: 0;

}