* {
    font-family: "Roboto";
    box-sizing: border-box;
}

header {
    z-index: 1;
    background-color: #111;
}

.link_logo {
    z-index: 1;
}

.navbar {


    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0em;
    color: white;
    background-color: #11111144;
}

html {
    /* background-image: url(../images/background\ index\ image.jpg); */
    background-color: #111;
    background-size: fill;
    background-repeat: repeat-y;
    max-width: 1920px;
}

main {
    margin-top: 20em;
    display: block;
    max-width: 1920px;
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
}

.boton_login {
    display: none;
}

.cajon_peliculas {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    padding-top: 1em;
    margin-top: 32em;
    border-radius: 10px;
}

.pelicula {
    margin: 5px;
    max-height: 300px;
    margin-bottom: 5em;
    border-radius: 1%;
    cursor: pointer;
}

.pelicula img {
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
    cursor: pointer;
    width: 242.8px;
    height: 362px;
    object-fit: fill;
    transition: all 300ms;
}

.pelicula img:hover {
    webkit-filter: blur(3px);
    filter: blur(3px);

}

.nombre_pelicula {
    margin-top: -1%;
    color: white;
    cursor: auto;
    text-align: center;
}

.video_home {
    position: absolute;
    margin: auto;
    margin-top: -33em;
    display: block;
    width: 100%;
    z-index: 0;

}