* {
    font-family: "Roboto";
}

html {
    background-image: url(../images/background\ index\ image.jpg);
    max-width: 100%;
}

.boton_login {
    display: none;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.cajon_formulario {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.753);
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 15%;
    max-width: 20%;
    padding: 2%;
    padding-bottom: 5%;
}

.cajon_formulario div {
    margin-top: 4%;
}

::placeholder {
    margin-bottom: 10px;
}

.cajon_formulario input {
    background-color: #333;
    border: 0;
    border-radius: 4px;
    color: #fff;
    height: 20px;
    padding: 5%;
    width: 91%;
}

.submit {
    cursor: pointer;
    display: flex;
    margin: auto;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    background: #ea5455;
    font-weight: 500;
    border: 0;
    border-radius: 4px;
    color: #fff;
    height: 20px;
    padding: 10%;
    width: 100%;
}

::-webkit-input-placeholder {
    top: 50%;
    margin-left: 25%;
}

.submit:hover {
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 80%);
    background-color: #b64343;
}