* {
    font-family: "Roboto";
}

html {
    background-image: url(../images/background\ index\ image.jpg);
    max-width: 100%;
}

.cajon_datos {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.753);
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 3em;
    padding-top: 2em;
    
}

.cajon_datos h2 {
    color: white;
}

.cajon_datos h4 {
    color: white;
}

.imagen_usuario_cajon{
    max-width: 40%;
}

#editar_boton {
    position: absolute;
    color: white;
    right: 1em;
    bottom: 1em;
}