* {
    font-family: "Roboto";
}

html {
    background-image: url(../images/background\ index\ image.jpg);
    max-width: 100%;
}

.error {
    font-size: 12px;
    color: red;
    margin-top: -0.01em;
    padding-top: 2px;
    position: absolute;
    /* padding-bottom: -1em;
    padding: 2px;
    margin-top: -0.1em;
    margin-bottom: -1%; */
}

.input_box {
    margin-bottom: 1.5em;
}

.boton_login {
    display: none;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 25px;
}


.cajon_formulario {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.753);
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 15%;
    max-width: 20%;
    padding: 2%;
}

.cajon_formulario div {
    margin-top: 4%;
}

::placeholder {
    margin-bottom: 10px;
}

.cajon_formulario input {
    background-color: #333;
    border: 0;
    border-radius: 4px;
    color: #fff;
    height: 20px;
    padding: 5%;
}

.select_sexo {
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
}


.mostrar_texto {
    color: white;
    font-size: 12px;
}

.submit {
    cursor: pointer;
    background: #ea5455;
    font-weight: 500;
    border-radius: 4px;
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 5%;
    width: 95%;
    margin-top: 20px;
}

::-webkit-input-placeholder {
    top: 50%;
    margin-left: 25%;
}

.submit:hover {
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 80%);
    background-color: #b64343;
}